<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NugetDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <NugetDownloader.Properties.Settings>
            <setting name="LocalNugetPath" serializeAs="String">
                <value>C:\Nuget\Live\</value>
            </setting>
            <setting name="StagingNugetPath" serializeAs="String">
                <value>C:\Nuget\Stage\</value>
            </setting>
            <setting name="OutputReportPath" serializeAs="String">
                <value>C:\Nuget\Reports\</value>
            </setting>
            <setting name="RemoteNugetPath" serializeAs="String">
                <value>https://api.nuget.org/v3-flatcontainer/</value>
            </setting>
            <setting name="TargetFramework" serializeAs="String">
                <value>.NETStandard</value>
            </setting>
            <setting name="TargetFrameworkVersion" serializeAs="String">
                <value>2.0</value>
            </setting>
        </NugetDownloader.Properties.Settings>
    </userSettings>
</configuration>